[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-dht = "*"
prometheus-client = "*"
pyserial = "*"
python-aqi = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.9"
